<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Flutter needs INTERNET for profile attach and tooling services. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityAlias_LoliSnatcher"
            tools:node="remove"/>
        <activity-alias
            android:name=".MainActivityAlias_LoliSnatcherSpaced"
            tools:node="remove"/>
        <activity-alias
            android:name=".MainActivityAlias_LoSn"
            tools:node="remove"/>
        <activity-alias
            android:name=".MainActivityAlias_LS"
            tools:node="remove"/>
        <activity-alias
            android:name=".MainActivityAlias_BooruSnatcher"
            tools:node="remove"/>
        <activity-alias
            android:name=".MainActivityAlias_BooruSnatcherSpaced"
            tools:node="remove"/>
        <activity-alias
            android:name=".MainActivityAlias_Booru"
            tools:node="remove"/>
    </application>
</manifest>
